.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}

.formulario form{
    max-width: 40%;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
    border-radius: 20px;
    padding: 8px 40px;
}

.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}
@media (max-width: 1024px) {
    .formulario{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}